body {
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    -webkit-tap-highlight-color: transparent;
}

#greeting-card {
    width: auto;
    margin: 30px auto;
    background-color: transparent;
    padding: 5px 20px 20px;
    text-align: left;
}

#good-greeting {
    font-family: 'Sansita', sans-serif;
    font-weight: 800;
    font-size: 28px;
    margin-bottom: -32px;
}

#greeting {
  font-family: 'Sansita', sans-serif;
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 10px;
}

#date {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 700;
  opacity: 0.8;
}

#bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

#user-name {
    width: 150px;
    font-weight: 600;
    padding: 4px 7px;
    font-size: 16px;
    margin-right: 10px;
    color: #AE9983;
    border: none;
    border-bottom: 1px solid rgba(150,131,110,0.5);
    background-color: transparent;
    outline: none;
  &:hover {
    color: #96836E;
    border-bottom: 1.8px solid #AE9983;
  }
  &:focus {
    color: #96836E;
    border-bottom: 1.8px solid #AE9983;
  }
  &::placeholder {
    color: #AE9983;
    font-weight: 500;
    opacity: 0.5;
  }
}

.color-dropdown {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: #AE9983;
    border-radius: 10px;
    border: 1px solid #AE9983;
    display: inline-block;
    padding: 10px 20px;
    width: 120px;
  &:hover {
    background: #F4EBE6;
  }
}

.color-option span {
    position: absolute;
    margin-top: 7px;
    margin-left: 2.6em;
    white-space: nowrap;
}

.selected-color {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.color-preview {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.color-options {
    display: none;
    position: absolute;
    font-size: 13.5px;
    padding: 5px;
    top: -12.1em;
    left: 0px;
    width: 150px;
    border: 1px solid #AE9983;
    border-radius: 10px;
    background-color: #fff;   
}

.color-option {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

.message {
  font-family: 'Montserrat', sans-serif;
  font-size: 10.5px;
  font-weight: 700;
  opacity: 0.7;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  color: #AE9983;
  background: #FBF3EE;
  margin-top: 4em;
}

.link-container {
  position: relative;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 321px;
  height: 45px;
  margin-top: 0.3em;
  background: transparent;
  border: 1px solid #AE9983;
  border-radius: 10px;
}

#copy-link-btn {
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  background: #AE9983;
 &:hover {
  background: #BDA892;
  }
 &:active {
  transform: translateY(1px);
  }
}

#copy-link-btn i {
  margin-right: 2px;
  margin-left: -0.1px;
}

#generated-link {
  background: transparent;
  color: #AE9983;
  margin-left: 10px;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
 &:focus {
  outline: none;
  }
}

button {
    cursor: pointer;
}

::selection {
    background-color: #E8D9D2;
    color: #AE9983;
}
